* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top-header {
    height: 50px;
    background-color: aqua;
}

.lower-header {
    height: 40px;
    background-color: brown;
}
.main-container{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.main-art-top,
.main-art-middle {
    height: 240px;
    width: 100%;
    background-color: blue;
    border: 1px solid black;
}

@media screen and (max-width: 764px) {
    .top-header {
        display: none;
    }

    .main-container {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 2fr; 
    }
}